<form action="{{ url_for('home') }}" method="GET">
    {{ form.name.label() }}{{ form.name() }}<br>
    {{ form.submit() }}
    {{ form.hidden_tag() }}
</form>

<nav>
	<ul>
		<li><a href="{{ url_for('home') }}">Home</a></li>
		<li><a href="{{ url_for('all_names') }}">All Names</a></li>
		<li><a href="{{ url_for('heroFormPage') }}">Hero Form</a></li>
		<li><a href="{{ url_for('allHeroes') }}">All Heroes</a></li>
		<li><a href="{{ url_for('showWishlist') }}">Wishlist</a></li>
	</ul>
</nav>

Note: The Marvel API rate limit is very small, and has caused many headaches in the community. <br>
Please give some time between requests for heroes and comics in order to see accurate data.

<!-- This following code segment taken from http://flask.pocoo.org/docs/0.12/patterns/flashing/ -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>!! {{ message }} !!</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- end segment -->

{% block content1 %}
{% endblock %}